<section>
    <div class="container"> 
      <div class="card-header-work rounded">
          <h1 class="display-4-purple">Judy Albrecht</h1>
          <p class="card-text">Bootstrap, Javascript, HTML5</p>
          <p class="card-text text-purple">Created a bootstrap based template for the Creative Services Director at KFMB.</p>
          <img class="card-img-top" src="../../../../assets/img/judyAlbrecht/judy_albrecht_landing_page.png" alt="judy_albrecht_landing_page"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/judyAlbrecht/judy_albrecht_work_page.png" alt="judy_albrecht_work_page"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/judyAlbrecht/judy_albrecht_contact_page.png" alt="judy_albrecht_contact_page"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/judyAlbrecht//judy_albrecht_resume_page.png" alt="judy_albrecht_resume_page"/>
          <div class='spacer'></div>
      </div>
  </div>
</section>

