<section>
    <div class="container"> 
      <div class="card-header-work rounded">
          <h1 class="display-4-purple">Landmark</h1>
          <p class="card-text">Actionscript, C++, UI/UX Design</p>
          <p class="card-text text-purple">On Landmark I worked with the EQ Next team to design, program and skin the UI and in game elements.</p>
          <img class="card-img-top" src="../../../../assets/img/landmark/landmark_screenshot1.png" alt="landmark_screenshot1"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/landmark/landmark_screenshot11.png" alt="landmark_screenshot11"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/landmark/landmark_screenshot12.png" alt="landmark_screenshot11"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/landmark/landmark_screenshot13.png" alt="landmark_screenshot13"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/landmark/landmark_screenshot2.jpg" alt="landmark_screenshot2"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/landmark/landmark_screenshot (9).png" alt="landmark_screenshot"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/landmark/landmark_screenshot (15).png" alt="landmark_screenshot"/>
          <div class='spacer'></div>
      </div>
  </div>
</section>