<section>
    <div class="container"> 
      <div class="card-header-work rounded">
          <h1 class="display-4-purple">Adventure Hydro</h1>
          <p class="card-text">React.js, Redux, Consultating</p>
          <p class="card-text text-purple">Here I am using ReactJs and Redux to develop a mobile first, single page web application for Chriss Wolff's video series.</p>
          <img class="card-img-top" src="../../../../assets/img/adventureHydrology/adventurehydro_screenshot1.png" alt="adventurehydro_screenshot1"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/adventureHydrology/adventurehydro_screenshot2.png" alt="adventurehydro_screenshot2"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/adventureHydrology/adventurehydro_screenshot3.png" alt="adventurehydro_screenshot3"/>
          <div class='spacer'></div>
      </div>
  </div>
</section>
