<section>
    <div class="container"> 
      <div class="card-header-work rounded">
          <h1 class="display-4-purple">Free Realms</h1>
          <p class="card-text">Actionscript, Lua,  UI/UX Design</p>
          <p class="card-text text-purple">While on the UI team for Free Realms, I helped program, design, and brand elements of the hud, menus, and advertisizing elements.</p>
          <img class="card-img-top" src="../../../../assets/img/freeRealms/free_realms_screenshot1.jpg" alt="free_realms_screenshot1"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/freeRealms/free_realms_screenshot1.png" alt="free_realms_screenshot1"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/freeRealms/free_realms_screenshot2.png" alt="free_realms_screenshot2"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img//freeRealms/free_realms_screenshot3.png" alt="free_realms_screenshot3"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/freeRealms/free_realms_screenshot4.png" alt="free_realms_screenshot4"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/freeRealms/free_realms_screenshot5.png" alt="free_realms_screenshot5"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/freeRealms/free_realms_screenshot6.png" alt="free_realms_screenshot6"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/freeRealms/free_realms_screenshot7.png" alt="free_realms_screenshot7"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/freeRealms/free_realms_screenshot8.png" alt="free_realms_screenshot8"/>
          <div class='spacer'></div>
      </div>
  </div>
</section>
