<section>
    <div class="container"> 
      <div class="card-header-work rounded">
          <h1 class="display-4-purple">H1Z1</h1>
          <p class="card-text">Actionscript, C++, UI/UX Design </p>
          <p class="card-text text-purple">On this project I worked closely with UI and game designers to program and design various hud, menu, and game play elements.</p>
          <img class="card-img-top" src="../../../../assets/img/h1z1/h1z1_splash_screen_before.jpg" alt="h1z1_splash_screen_before"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/h1z1/h1z1_splash_screen_after.jpg" alt="h1z1_splash_screen_after"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/h1z1/h1z1_character_select_before.jpg" alt="h1z1_character_select_before"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/h1z1/h1z1_character_select_after.jpg" alt="h1z1_character_select_after"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/h1z1/h1z1_main_menu_before.jpg" alt="h1z1_main_menu_before"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/h1z1/h1z1_main_menu_after.jpg" alt="h1z1_main_menu_after"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/h1z1/h1z1_marketplace_before.jpg" alt="h1z1_marketplace_before"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/h1z1/h1z1_marketplace_after.jpg" alt="h1z1_marketplace_after"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/h1z1/h1z1_scrapyard_before.jpg" alt="h1z1_scrapyard_before"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/h1z1/h1z1_scrapyard_after.jpg" alt="h1z1_scrapyard_after"/>
          <div class='spacer'></div>
      </div>
  </div>
  </section>
