<section>
    <div class="container"> 
      <div class="card-header-work rounded">
          <h1 class="display-4-purple">Planetside 2</h1>
          <p class="card-text">Actionscript, C++, UI/UX Design </p>
          <p class="card-text text-purple">On this project I worked with the Planetside team to port the UI and game systems to the Playstation 4.</p>
          <img class="card-img-top" src="../../../../assets/img/planetside2/planetside_screenshot13.jpg" alt="planetside_screenshot13"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/planetside2/planetside_screenshot16.jpg" alt="planetside_screenshot16"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/planetside2/planetside_screenshot17.jpg" alt="planetside_screenshot17"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/planetside2/planetside_screenshot18.jpg" alt="planetside_screenshot18"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/planetside2/planetside_screenshot19.jpg" alt="planetside_screenshot19"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/planetside2/planetside_screenshot5.png" alt="planetside_screenshot5"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/planetside2/planetside_screenshot6.png" alt="planetside_screenshot6"/>
          <div class='spacer'></div>
      </div>
  </div>
</section>
