<section>
  <div class="container">
    <img src="../../../assets/img/trio.png" class="img-fluid trio" alt="Responsive image">
    <div class="row">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 Services-tab item">
          <div class="folded-corner service_tab_1">
            <div class="text"> <i class="fa fa-image fa-5x fa-icon-image"></i>
              <div class="item-title">
              
              <h4>Creative</h4>
              </div>
              <!-- /.item-title -->
              <p>We work to help brands create and define their voice and brand identity through a carefully tailored online presence. We will help you drive business growth and establish each brand as the expert in their respective field. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 Services-tab item">
          <div class="folded-corner service_tab_1">
            <div class="text"> <i class="fa fa-lightbulb-o fa-5x fa-icon-image" ></i>
              <div class="item-title">
              
              <h4>Strategy</h4>
              </div>
              <!-- /.item-title -->
              <p>We create a comprehensive strategy to serve as the foundation for on-going work and new ideas. We focus on best practices and modern technologies to create highly engaging experiences, tailored to fit your brand, lifestyle, product, or idea.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 Services-tab item">
          <div class="folded-corner service_tab_1">
            <div class="text"> <i class="fa fa-money fa-5x fa-icon-image"></i>
              <div class="item-title">
              <h4>Analytics</h4>
              </div>
              <!-- /.item-title -->
              <p>By tracking analytics and closely monitoring each clients unique community, WebMOTU can gauge the success of our efforts and make adjustments accordingly in order to most effectively target and influence each brand's audience.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 Services-tab item">
          <div class="folded-corner service_tab_1">
            <div class="text"> <i class="fa fa-mobile fa-5x fa-icon-image"></i>
              <div class="item-title">
              
              <h4>Online</h4>
              </div>
              <!-- /.item-title -->
              <p>WebMOTU helps to boost our client's reach, profitability and return on investment. We help grow your community sizes and drive traffic to each platform through targeted media initiatives and unique promotional campaigns, applications, and services.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>