<section>
    <div class="container"> 
      <div class="card-header-work rounded">
          <h1 class="display-4-purple">Clone Wars</h1>
          <p class="card-text">Actionscript, C++, UI/UX Design</p>
          <p class="card-text text-purple">With Clone Wars, we worked with the Lucas Arts to design and brand the UI based on the popluar cartoon series.</p>
          <img class="card-img-top" src="../../../../assets/img/cloneWars/clonewars_screenshot1.png" alt="clonewars_screenshot1"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/cloneWars/clonewars_screenshot2.png" alt="clonewars_screenshot2"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/cloneWars/clonewars_screenshot3.png" alt="clonewars_screenshot3"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/cloneWars/clonewars_screenshot4.png" alt="clonewars_screenshot4"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/cloneWars/clonewars_screenshot5.png" alt="clonewars_screenshot5"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/cloneWars/clonewars_screenshot6.png" alt="clonewars_screenshot6"/>
          <div class='spacer'></div>
          <img class="card-img-top" src="../../../../assets/img/cloneWars/clonewars_screenshot7.png" alt="clonewars_screenshot7"/>
          <div class='spacer'></div>
      </div>
  </div>
</section>
